<h1>Mario's Specialty Products</h1>


<h1>Product with the most ratings:</h1>
<%= Product.most_ratings[0].name %>
<%= Product.most_ratings[0].cost %>
<%= Product.most_ratings[0].origin %>

<h1>Recently Added Products:</h1>
<div class="">
  <%= Product.sort_recent[0].name %>
  <%= Product.sort_recent[0].cost %>
  <%= Product.sort_recent[0].origin %>
</div>
<div class="">
  <%= Product.sort_recent[1].name %>
  <%= Product.sort_recent[1].cost %>
  <%= Product.sort_recent[1].origin %>
</div>
<div class="">
  <%= Product.sort_recent[2].name %>
  <%= Product.sort_recent[2].cost %>
  <%= Product.sort_recent[2].origin %>
</div>


<h1>Highest Rated Product:</h1>
<div class="">
  <%= Product.highest_rating[0].name %>
  <%= Product.highest_rating[0].cost %>
  <%= Product.highest_rating[0].origin %>
</div>

<h1>All of our Products from the USA:</h1>
<div class="row">
  <% Product.local_to_usa.each do |product| %>
    <div class="product col-md-3">
      <h4><%= link_to product.name, product_path(product) %></h4>
      <h5><%= product.origin %></h5>
      <h6><%= product.cost %></h6>
    </div>
  <% end %>
</div>

<h1>All of our Current Products:</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="product col-md-3">
      <h4><%= link_to product.name, product_path(product) %></h4>
      <h5><%= product.origin %></h5>
      <h6><%= product.cost %></h6>
    </div>
  <% end %>
</div>
